/* Roboto */
@font-face
{
    font-family: "Roboto";
    src: url("./fonts/Roboto/woff2/Roboto-Regular.woff2") format("woff2"),
         url("./fonts/Roboto/woff/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: "Roboto";
    src: url("./fonts/Roboto/woff2/Roboto-Italic.woff2") format("woff2"),
         url("./fonts/Roboto/woff/Roboto-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face
{
    font-family: "Roboto";
    src: url("./fonts/Roboto/woff2/Roboto-Medium.woff2") format("woff2"),
         url("./fonts/Roboto/woff/Roboto-Medium.woff") format("woff");
    font-weight: 500 700;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: "Roboto";
    src: url("./fonts/Roboto/woff2/Roboto-MediumItalic.woff2") format("woff2"),
         url("./fonts/Roboto/woff/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500 700;
    font-style: italic;
    font-display: swap;
}

/* JetBrains Mono */
@font-face
{
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
         url("./fonts/JetBrainsMono/woff/JetBrainsMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2") format("woff2"),
         url("./fonts/JetBrainsMono/woff/JetBrainsMono-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face
{
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2") format("woff2"),
         url("./fonts/JetBrainsMono/woff/JetBrainsMono-Bold.woff") format("woff");
    font-weight: 500 700;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono/woff2/JetBrainsMono-BoldItalic.woff2") format("woff2"),
         url("./fonts/JetBrainsMono/woff/JetBrainsMono-BoldItalic.woff") format("woff");
    font-weight: 500 700;
    font-style: italic;
    font-display: swap;
}

body
{
    --dokkiCSS-header-height: 40px;
    --dokkiCSS-header-bottom-margin: 23px;

    --dokkiCSS-side-panel-width: 330px;
    --dokkiCSS-topics-container-width: 49%;
    --dokkiCSS-document-width: calc(var(--dokkiCSS-side-panel-width) + var(--dokkiCSS-topics-container-width));

    --dokkiCSS-document-horizontal-left-start: calc(50% - 0.5*var(--dokkiCSS-topics-container-width) - var(--dokkiCSS-side-panel-width));
    --dokkiCSS-document-horizontal-left-end: calc(var(--dokkiCSS-document-horizontal-left-start) + var(--dokkiCSS-document-width));

    --dokkiCSS-page-border-radius: 0 0 4px 4px;

    --dokkiCSS-topic-bottom-margin: 25px;
    --dokkiCSS-topic-vertical-padding: 34px;
    --dokkiCSS-topic-horizontal-padding: 34px;
    --dokkiCSS-topic-header-top-margin: 42px;

    --dokkiCSS-topics-container-vertical-top-start: calc(35px - var(--dokkiCSS-header-bottom-margin));
    --dokkiCSS-topics-container-bottom-margin: calc(2 * var(--dokkiCSS-topic-bottom-margin));

    --dokkiCSS-topic-anchor-top-margin: var(--dokkiCSS-topic-vertical-padding);
    --dokkiCSS-subtopic-anchor-top-margin: 30px;
    --dokkiCSS-text-block-line-anchor-top-margin: 20vh;

    --dokkiCSS-embedded-border-radius: 6px;
    --dokkiCSS-embedded-vertical-margin: 16px;
    --dokkiCSS-embedded-header-padding: 12px 16px;
    --dokkiCSS-embedded-horizontal-padding: 16px;
    --dokkiCSS-embedded-vertical-padding: 16px;
    --dokkiCSS-navibar-item-padding-vertical: 5px;
    --dokkiCSS-navibar-item-padding-horizontal: 20px;

    --dokkiCSS-regular-font-family: "Roboto", sans-serif;
    --dokkiCSS-regular-font-size: 16px;
    --dokkiCSS-monospace-font-family: "JetBrains Mono", monospace;
    --dokkiCSS-monospace-font-size: 14.1px;
    --dokkiCSS-bold-text-weight: 500;
    --dokkiCSS-content-line-height: 1.4;
}

body,
.dokkiCSS-document-container
{
    font-family: var(--dokkiCSS-regular-font-family);
    font-size: var(--dokkiCSS-regular-font-size);
    background-color: var(--dokkiCSS-page-inert-bg-color);
    color: var(--dokkiCSS-page-secondary-fg-color);
    padding: 0;
    margin: 0;
}

body,
[data-dokki-theme="light"]
{
    --dokkiCSS-page-link-color: #2264e8;
    --dokkiCSS-page-primary-bg-color: white;
    --dokkiCSS-page-secondary-bg-color: #f9f9f9;
    --dokkiCSS-page-inert-bg-color: white;
    --dokkiCSS-page-primary-fg-color: #202020;
    --dokkiCSS-page-secondary-fg-color: #404040;
    --dokkiCSS-page-inert-fg-color: #707070;
    --dokkiCSS-page-primary-line-color: lightgray;
    --dokkiCSS-page-secondary-line-color: lightgray;
    --dokkiCSS-embedded-header-bg-color: var(--dokkiCSS-page-inert-bg-color);
    --dokkiCSS-embedded-footer-bg-color: var(--dokkiCSS-page-inert-bg-color);
    --dokkiCSS-embedded-code-comment-fg-color: #317b10;
    --dokkiCSS-embedded-auxiliary-color: rgba(0, 0, 0, 0.04);
    --dokkiCSS-navi-clickable-hover-bg-color: #f5f5f5;
}

[data-dokki-theme="dark"]
{
    --dokkiCSS-page-link-color: #ffe210;
    --dokkiCSS-page-primary-bg-color: #272727;
    --dokkiCSS-page-secondary-bg-color: #222222;
    --dokkiCSS-page-inert-bg-color: #272727;
    --dokkiCSS-page-primary-fg-color: #e4e4e4;
    --dokkiCSS-page-secondary-fg-color: #afafaf;
    --dokkiCSS-page-inert-fg-color: #8f8f8f;
    --dokkiCSS-page-primary-line-color: black;
    --dokkiCSS-page-secondary-line-color: black;
    --dokkiCSS-embedded-header-bg-color: var(--dokkiCSS-page-inert-bg-color);
    --dokkiCSS-embedded-footer-bg-color: var(--dokkiCSS-page-inert-bg-color);
    --dokkiCSS-embedded-code-comment-fg-color: #00aeae;
    --dokkiCSS-embedded-auxiliary-color: rgba(0, 0, 0, 0.2);
    --dokkiCSS-navi-clickable-hover-bg-color: #1f1f1f;
}

body :first-child
{
    margin-top: 0;
}

body :last-child
{
    margin-bottom: 0;
}

code,
samp
{
    font-size: var(--dokkiCSS-monospace-font-size);
    font-family: var(--dokkiCSS-monospace-font-family);
    font-variant-ligatures: none;
}

ul
{
    margin: 16px 0;
}

code .hljs-comment
{
    color: var(--dokkiCSS-embedded-code-comment-fg-color);
}

.dokkiCSS-anchor
{
    visibility: hidden;
    position: relative;
}

.dokkiCSS-anchor:first-child
{
    padding-top: var(--dokkiCSS-topic-bottom-margin);
}

@media only screen and (max-width: 1700px)
{
    body
    {
        --dokkiCSS-document-horizontal-left-start: 60px;
        --dokkiCSS-topics-container-width: calc(85% - var(--dokkiCSS-document-horizontal-left-start) - var(--dokkiCSS-side-panel-width));
    }
}

@media only screen and (max-width: 1400px)
{
    body
    {
        --dokkiCSS-topics-container-width: calc(100% - var(--dokkiCSS-document-horizontal-left-start)*2 - var(--dokkiCSS-side-panel-width));
    }
}

@media only screen and (max-width: 1200px)
{
    body
    {
        --dokkiCSS-side-panel-width: 280px;
        --dokkiCSS-document-horizontal-left-start: 0px;
        --dokkiCSS-topic-bottom-margin: 25px;
        --dokkiCSS-topic-horizontal-padding: 25px;
        --dokkiCSS-topic-vertical-padding: 25px;
        --dokkiCSS-topics-container-width: calc(100% - var(--dokkiCSS-side-panel-width));
    }

    .dokki-topics
    {
        border-right: none;
        top: 0;
    }

    .dokki-topic
    {
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
    }

    .dokki-topic h1
    {
        font-weight: normal;
        margin-bottom: 32px !important;
    }

    .dokkiCSS-header-container
    {
        padding: 0 10px;
    }

    .dokki-area.dokki-tag-filter
    {
        margin: 0;
    }
}

@media only screen and (max-width: 1100px)
{
    body
    {
        --dokkiCSS-side-panel-width: 250px;
    }

    .dokki-topics
    {
        padding: 0 !important;
    }
}

body[data-dokki-layout^="vertical"]
{
    --dokkiCSS-header-height: 50px;
    --dokkiCSS-side-panel-width: 0;
    --dokkiCSS-document-width: 100%;
    --dokkiCSS-topic-bottom-margin: 20px;
    --dokkiCSS-topic-horizontal-padding: 20px;
    --dokkiCSS-topic-vertical-padding: 20px;
    --dokkiCSS-header-bottom-margin: 15px;
}

body[data-dokki-layout="vertical-narrow"]
{
    --dokkiCSS-header-height: 60px;
    --dokkiCSS-topic-bottom-margin: 12px;
    --dokkiCSS-topic-horizontal-padding: 15px;
    --dokkiCSS-topic-vertical-padding: 25px;
    --dokkiCSS-topic-header-top-margin: 25px;
    --dokkiCSS-header-bottom-margin: 0px;
    --dokkiCSS-embedded-header-padding: 18px 13px;
    --dokkiCSS-embedded-horizontal-padding: 13px;
}

body[data-dokki-layout="vertical-narrow"] .dokkiCSS-anchor:first-child
{
    padding-top: 0;
}

.vue-fade-enter-active,
.vue-fade-leave-active {
  transition: opacity 0.25s ease;
}
.vue-fade-enter-from {
  opacity: 0;
}
