body
{
    --dokkiCSS-maximum-z-index: 2147483647;

    --dokkiCSS-header-bottom-margin: 23px;

    --dokkiCSS-document-container-margin: 1rem;

    --dokkiCSS-side-panel-width: 330px;
    --dokkiCSS-topics-container-width: 49%;
    --dokkiCSS-document-width: calc(var(--dokkiCSS-side-panel-width) + var(--dokkiCSS-topics-container-width));

    --dokkiCSS-document-horizontal-left-start: calc(50% - 0.5*var(--dokkiCSS-topics-container-width) - var(--dokkiCSS-side-panel-width));
    --dokkiCSS-document-horizontal-left-end: calc(var(--dokkiCSS-document-horizontal-left-start) + var(--dokkiCSS-document-width));

    --dokkiCSS-page-border-radius: 0 0 4px 4px;

    --dokkiCSS-topic-bottom-margin: 25px;
    --dokkiCSS-topic-vertical-padding: 34px;
    --dokkiCSS-topic-horizontal-padding: 34px;
    --dokkiCSS-topic-heading-vertical-margin: 1.5em;
 
    --dokkiCSS-topics-container-max-width: 1300px;
    --dokkiCSS-topics-container-vertical-top-start: calc(35px - var(--dokkiCSS-header-bottom-margin));
    --dokkiCSS-topics-container-bottom-margin: calc(2 * var(--dokkiCSS-topic-bottom-margin));

    --dokkiCSS-topic-anchor-top-margin: var(--dokkiCSS-topic-vertical-padding);
    --dokkiCSS-subtopic-anchor-top-margin: 30px;
    --dokkiCSS-text-block-line-anchor-top-margin: 20vh;

    --dokkiCSS-embedded-border-radius: 0;
    --dokkiCSS-embedded-vertical-margin: 16px;
    --dokkiCSS-embedded-header-padding: 12px 16px;
    --dokkiCSS-embedded-horizontal-padding: 16px;
    --dokkiCSS-embedded-vertical-padding: 16px;
    --dokkiCSS-navibar-item-padding-vertical: 0.225rem;
    --dokkiCSS-navibar-item-padding-horizontal: 1rem;

    --dokkiCSS-regular-font-family: system-ui, sans-serif;
    --dokkiCSS-regular-font-size: initial;
    --dokkiCSS-monospace-font-family: monospace-ui, monospace;
    --dokkiCSS-monospace-font-size: 95%;
    --dokkiCSS-bold-text-weight: 500;
    --dokkiCSS-content-line-height: 1.4;
}

body,
.dokkiCSS-document-container
{
    font-family: var(--dokkiCSS-regular-font-family);
    font-size: var(--dokkiCSS-regular-font-size);
    background-color: var(--dokkiCSS-page-inert-bg-color);
    color: var(--dokkiCSS-page-secondary-fg-color);
    padding: 0;
    margin: 0;
}

body,
[data-dokki-theme="light"]
{
    --dokkiCSS-page-link-color: #2264e8;
    --dokkiCSS-page-primary-bg-color: white;
    --dokkiCSS-page-secondary-bg-color: white;
    --dokkiCSS-page-inert-bg-color: var(--dokkiCSS-page-secondary-bg-color);
    --dokkiCSS-page-primary-fg-color: #202020;
    --dokkiCSS-page-secondary-fg-color: #404040;
    --dokkiCSS-page-inert-fg-color: #757575;
    --dokkiCSS-page-primary-line-color: #c4c4c4;
    --dokkiCSS-page-secondary-line-color: #c4c4c4;
    --dokkiCSS-embedded-auxiliary-color: rgba(0, 0, 0, 0.04);
    --dokkiCSS-navi-clickable-hover-bg-color: #f5f5f5;
}

[data-dokki-theme="dark"]
{
    --dokkiCSS-page-link-color: #ffc04d;
    --dokkiCSS-page-primary-bg-color: #181818;
    --dokkiCSS-page-secondary-bg-color: #181818;
    --dokkiCSS-page-inert-bg-color: var(--dokkiCSS-page-secondary-bg-color);
    --dokkiCSS-page-primary-fg-color: #d2d2d2;
    --dokkiCSS-page-secondary-fg-color: #b6b6b6;
    --dokkiCSS-page-inert-fg-color: #8f8f8f;
    --dokkiCSS-page-primary-line-color: black;
    --dokkiCSS-page-secondary-line-color: black;
    --dokkiCSS-embedded-auxiliary-color: rgba(0, 0, 0, 0.2);
    --dokkiCSS-navi-clickable-hover-bg-color: #181818;
}

.dokki-document :first-child
{
    margin-top: 0;
}

.dokki-document :last-child
{
    margin-bottom: 0;
}

code,
samp
{
    font-size: var(--dokkiCSS-monospace-font-size);
    font-family: var(--dokkiCSS-monospace-font-family);
    font-variant-ligatures: none;
}

ul
{
    margin: 16px 0;
}

.dokkiCSS-anchor
{
    visibility: hidden;
    position: relative;
}

.dokkiCSS-anchor:first-child
{
    padding-top: var(--dokkiCSS-topic-bottom-margin);
}

@media only screen and (min-width: 2200px)
{
    body
    {
        --dokkiCSS-side-panel-width: 400px;
    }
}

@media only screen and (max-width: 1700px)
{
    body
    {
        --dokkiCSS-document-horizontal-left-start: 60px;
        --dokkiCSS-topics-container-width: calc(85% - var(--dokkiCSS-document-horizontal-left-start) - var(--dokkiCSS-side-panel-width));
    }
}

@media only screen and (max-width: 1500px)
{
    body
    {
        --dokkiCSS-topic-vertical-padding: 38px;
        --dokkiCSS-document-container-margin: 0rem;
    }

    [data-dokki-theme="light"]
    {
        --dokkiCSS-page-inert-bg-color: #f5f5f5;
    }

    [data-dokki-theme="dark"]
    {
        --dokkiCSS-page-inert-bg-color: #333333;
    }
}


@media only screen and (max-width: 1400px)
{
    body
    {
        --dokkiCSS-topics-container-width: calc(100% - var(--dokkiCSS-document-horizontal-left-start)*2 - var(--dokkiCSS-side-panel-width));
    }
}

@media only screen and (max-width: 1200px)
{
    body
    {
        --dokkiCSS-side-panel-width: 280px;
        --dokkiCSS-document-horizontal-left-start: 0px;
        --dokkiCSS-topic-bottom-margin: 25px;
        --dokkiCSS-topic-horizontal-padding: 25px;
        --dokkiCSS-topics-container-width: calc(100% - var(--dokkiCSS-side-panel-width));
    }

    .dokki-topics
    {
        border-right: none;
        top: 0;
    }

    .dokki-topic
    {
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
    }

    .dokki-topic h1
    {
        font-weight: normal;
        margin-bottom: 32px !important;
    }

    .dokkiCSS-header-container
    {
        padding: 0 10px;
    }

    .dokki-area.dokki-tag-filter
    {
        margin: 0;
    }
}

@media only screen and (max-width: 1100px)
{
    body
    {
        --dokkiCSS-side-panel-width: 250px;
    }

    .dokki-topics
    {
        padding: 0 !important;
    }
}

body[data-dokki-layout^="vertical"]
{
    --dokkiCSS-side-panel-width: 0;
    --dokkiCSS-document-width: 100%;
    --dokkiCSS-topic-bottom-margin: 20px;
    --dokkiCSS-topic-horizontal-padding: 20px;
    --dokkiCSS-header-bottom-margin: 15px;
}

body[data-dokki-layout="vertical-narrow"]
{
    --dokkiCSS-topic-bottom-margin: 12px;
    --dokkiCSS-topic-horizontal-padding: 15px;
    --dokkiCSS-topic-heading-vertical-margin: 1em;
    --dokkiCSS-topic-vertical-padding: 34px;
    --dokkiCSS-header-bottom-margin: 0px;
    --dokkiCSS-embedded-horizontal-padding: 13px;
}

body[data-dokki-layout^="vertical"]
{
    background-color: var(--dokkiCSS-embedded-auxiliary-color);
}

body[data-dokki-layout="vertical-narrow"] .dokkiCSS-anchor:first-child
{
    padding-top: 0;
}
